body{
	 font-family: 'Merienda';font-size: 15px;
}
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
	
}
.nav-item-icon{
	margin:auto;
}
.flag{
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}
.nav-link.active{
	background-color: lightgrey !important;
}

.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 850px;
}

.carousel-caption{
	top: 40%;
}

.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}

.map{
	height: 320px;
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  }
}

.footer{
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}
.social-icon{
	font-size:28; 
}

.nav-link{
	border-width:2px 2px 2px 2px;
	border-radius:0%;
	text-align:center;
}
.list-group{
	list-style-type:none;
}

.right{
	float:right;
	padding-right:20px;
	margin-bottom:15px;
	font-size:15px;
}

.left{
	float:left;
	padding-left:20px;
	margin-bottom:15px;
	font-size:15px;
}

.card-title{
	text-align:center;
}

.bg-trans{
	
	background-color: transparent;
	background-image:url("images/share.jpg");
	padding-top:270px;
}

.form-title{
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;	
}
.form-control{
	background-color:transparent;
	height:200px;
}

.row{
	margin-bottom:20px;	
	padding-left:auto;
	padding-right:auto;
}
.col-md-4{
		
	margin-left:auto;
	margin-right:auto;
}

.col-md-3{
	padding-top: 20px;
}
footer{
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
}


